/* this line is necessary in every project using jEffects */

.orbitsRoot { height:1024px; text-align:center; overflow:hidden; color:#f0f; font-family:"trebuchet ms"; padding:0; margin:0 }

.planet { border:2px solid #f9f }
.planet:hover { border-color:#fff !important }

.orbital { 
    background:#202; top:300px; width:16px; height:16px; left:400px; padding:20px;
    border:1px solid #a0a; 
    border-radius:300px !important;
    -moz-border-radius:300px !important;
    -webkit-border-radius:300px !important; 
    border-style:dotted;
}

.orbit .orbit .orbit span { background:rgba(50,255,255,0.2); color:#4aa; border-color:#6ff }
.orbit .orbit .orbit .orbit span { background:rgba(255,185,40,0.2); color:#ca6; border-color:#fc5 }

.orbit { 
    border:1px solid #d6d;
    border-radius:200px; 
    -moz-border-radius:200px; 
    -webkit-border-radius:200px;
}

.orbit span { 
    display:block;
    background:rgba(255,0,255,0.25);
    width:32px;
    height:32px;
    line-height:32px;
    border-radius:32px; 
    -moz-border-radius:32px; 
    -webkit-border-radius:32px; 
}

